{# message view #}
<script id="message-view"  type="text/x-underscore-template"></script>
<div class="callout callout-info">
    <h4><%= title %></h4>
    <p><%=  message %></p>
</div>
{# message view #}


{# loading view #}
<script type="text/x-underscore-template" id="loading-view"></script>
<div class="row">
    <div class="col-xs-1"><i class="fa fa-spinner icon-spin text-aqua"></i></div>
    <div class="col-xs-11 text-center"><%= message %></div>
</div>
{# loading view #}

